parameters:
    paths:
        - src
        - config
    level: 5
    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/*
        -
            identifier: trait.unused
            path: src/Concerns/*
